<div class="container-fluid align-content-center mt-0">
	<div class="row justify-content-md-center">
		<div class="col-4 shadow rounded p-3">
			<form>
				<legend>
					Login
				</legend>
				<br />
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" id="email">
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password">
				</div>
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
		</div>
	</div>
</div>