@model ApplicationCore.Models.LoginRequestModel

@{
	ViewData["Title"] = "Login";
}

<div class="container-fluid align-content-center mt-0">
	<div class="row justify-content-md-center">
		<div class="col-4 shadow rounded p-3">
			<form asp-action="Login" class="">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<legend>
					Login
				</legend>
				<br />
				<div class="mb-3">
					<label asp-for="Email" class="form-label">Email</label>
					<input type="email" class="form-control" asp-for="Email">
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Password" class="form-label">Password</label>
					<input type="password" class="form-control" asp-for="Password">
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
		</div>
	</div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}