<div class="container-fluid align-content-center mt-0">
	<div class="row justify-content-md-center">
		<div class="col-4  shadow rounded p-3">
			<form>
				<legend>
					Register
				</legend>
				<br />
				<div class="mb-3">
					<label for="firstName" class="form-label">First Name</label>
					<input type="text" class="form-control" id="firstName">
				</div>
				<div class="mb-3">
					<label for="lastName" class="form-label">Last Name</label>
					<input type="text" class="form-control" id="lastName">
				</div>
				<div class="mb-3">
					<label for="dateOfBirth" class="form-label">Date Of Birth</label>
					<input type="date" class="form-control" id="dateOfBirth">
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" id="email">
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password">
				</div>
				<div class="mb-3">
					<label for="confirmPassword" class="form-label">Confirm password</label>
					<input type="password" class="form-control" id="confirmPassword">
				</div>
				<button type="submit" class="btn btn-primary">Create Account</button>
			</form>
		</div>
	</div>
</div>