@model IEnumerable<ApplicationCore.Models.PurchaseDetailResponseModel>

<div class="container-fluid">
    <div class="row">
        @foreach (var purchase in Model)
        {
            <div class="col-xl-2 col-sm-4 col-lg-3 col-6 mb-4">
                <partial model ="@purchase.movieCard" name="_MovieCard"/> 
                <div class="card-body m-0 mb-3 p-0">
                    <button type="button" class="btn btn-dark w-100 mh-25 m-0 px-3 rounded-0" data-bs-toggle="modal" data-bs-target="#PurchaseDetailModal">
                        Purchase Detail
                    </button>
                </div>
                <div class="modal fade" id="PurchaseDetailModal" tabindex="-1" aria-labelledby="PurchaseDetailModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="PurchaseDetailModalLabel">Purchase Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <div class = "container-fluid">
                              <div class="row">
                                  <div class="col-4">
                                      <img src="@purchase.movieCard.PosterUrl" class="img-fluid" alt="@purchase.movieCard.Title"/>
                                  </div>
                                  <div class="col-8">
                                      <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
					                            Purchased Date
					                            <span class="badge bg-dark">@purchase.PurchaseDateTime</span>
				                            </li>
				                            <li class="list-group-item">
					                            Price
					                            <span class="badge bg-dark">$@purchase.TotalPrice</span>
				                            </li>
				                            <li class="list-group-item">
					                            Purchase Number
					                            <span class="badge bg-dark">$@purchase.PurchaseNumber</span>
				                            </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        }
    </div>
</div>