@using System.Security.Claims
@model ApplicationCore.Models.MovieDetailsResponseModel

@if (User.Identity.IsAuthenticated)
{
	if(Model.PurchaseStat == false)
	{
		<button class="btn btn-light mt-3" type="button">BUY $@Math.Round((decimal)Model.Price,2)</button>
	}
	else
	{
		<button class="btn btn-light mt-3" type="button">WATCH MOVIE</button>
	}
}
else 
{
	<a class="btn btn-light mt-3" asp-controller="Account" asp-action="Login">BUY $@Math.Round((decimal)Model.Price,2)</a>
}