<p>login works!</p>
<!--use template-driven approach-->
<!--Two way binding-->
<div class="container-fluid align-content-center mt-0">
	<div class="row justify-content-md-center">
		<div class="col-4 shadow rounded p-3">
			<form (ngSubmit)="loginSubmit()">
				<div class="text-danger"></div>
				<legend>
					Login
				</legend>
				<br />
				<div class="mb-3">
					<label  class="form-label">Email</label>
					<input type="email" class="form-control" name="email" [(ngModel)]="userLogin.email">
					<span  class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label">Password</label> 
					<input type="password" class="form-control" name="password" [(ngModel)]="userLogin.password">
					<span class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
		</div>
	</div>
</div>